---
interface Props {
  title: string;
  description?: string;
  items: DataItem[];
}

interface DataItem {
  id: number;
  title: string;
  counter: string;
}

const { title, description, items } = Astro.props;
---

<div class="w-full bg-black text-white">
  <div
    class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-20 flex gap-10 flex-col lg:flex-row"
  >
    <div class="flex-1 flex flex-col">
      <h3 class="text-5xl mb-4">{title}</h3>
      <p>{description}</p>
    </div>
    <div class="grid grid-cols-2 gap-6 flex-1">
      {items.map((e) => (
        <div class="flex flex-col gap-4">
            <p class="font-medium text-orange-600 text-4xl">{e.counter}</p>
            <p class="text-sm">{e.title}</p>
        </div>
      ))}
    </div>
  </div>
</div>
